<table class="rounded-lg w-5/6 mx-auto border-sky-800 border">
	<thead class="">
  <tr class="text-left text-gray-400 text-lg border dark:border-2 border-sky-900 dark:hover:bg-slate-700 dark:bg-slate-800 *:px-4 *:py-3">
    <th class="">Firstname</th>
    <th class="">Lastname</th>
    <th class="">Age</th>
    <th class="">Sex</th>
  </tr>
		</thead>
	<tbody class="text-gray-400 *:border-sky-800 *:border  ">
	<tr class="dark:hover:bg-slate-800  even:dark:bg-slate-900 odd:dark:bg-slate-950 *:px-4 *:py-3">
			<td>Jill</td>
			<td>Smith</td>
			<td>50</td>
			<td>Male</td>
		</tr>		
		<tr class="dark:hover:bg-slate-800  even:dark:bg-slate-900 odd:dark:bg-slate-950 *:px-4 *:py-3">
			<td>Jill</td>
			<td>Smith</td>
			<td>50</td>
			<td>Male</td>
		</tr>		
		<tr class="dark:hover:bg-slate-800  even:dark:bg-slate-900 odd:dark:bg-slate-950 *:px-4 *:py-3">
			<td>Jill</td>
			<td>Smith</td>
			<td>50</td>
			<td>Male</td>
		</tr>		
		<tr class="dark:hover:bg-slate-800  even:dark:bg-slate-900 odd:dark:bg-slate-950 *:px-4 *:py-3">
			<td>Jill</td>
			<td>Smith</td>
			<td>50</td>
			<td>Male</td>
		</tr>		
	</tbody>
</table>
