<form class="container flex flex-col space-y-5 items-center" hx-post="/run" hx-swap="none">
	<table class="rounded-lg w-5/6 mx-auto border-sky-800 border">
		<thead class="">
			<tr class="text-left text-gray-400 sm:text-lg border dark:border-2 border-sky-900 dark:hover:bg-slate-700 dark:bg-slate-800 *:px-4 *:py-3">
				<th class="">#</th>
				<th class="">Serial Number</th>
				<th class="">Denomination</th>
				<th class="">Cycle</th>
			</tr>
		</thead>
		<tbody class="text-gray-400 *:border-sky-800 *:border  ">
			{% for item in device_info.denominations %}
				<tr class="dark:hover:bg-slate-800  odd:dark:bg-slate-900 even:dark:bg-slate-850 *:px-4 *:py-3">
					<td>{{ loop.index }}</td>
					<td>{{ device_info["serial_number"] }}</td>
					<td>{{ item }}</td>
					<td>
						<input class="bg-slate-200 dark:bg-slate-600 rounded-lg w-full p-1" name="{{ item }}"type="number" min=0 value=0 step=1> </input>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<button type="submit" class="group relative mb-2 me-2 inline-flex items-center justify-center overflow-hidden rounded-lg bg-gradient-to-tr to-microcoin-blue from-microcoin-purple p-0.5 text-sm font-medium text-gray-500 dark:text-gray-300">
		<span class="relative rounded-md bg-white px-5 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0 dark:bg-gray-900"> run </span>
	</button>
	<!-- <button class="text-gray-400" type="submit">submit</button> -->
</form>
